@import url(https://fonts.google.com/specimen/Montserrat?query=mont);

* {
margin: 0;
padding: 0;
font-family: "Monteserrat", sans-serif;
box-sizing: border-box;
outline: none;
}

body {
    background-color: rgba(0, 0, 40, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
}

img {
    margin-top: -200px;
    width: 800px;
}

 h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    margin-top: -200px;
    margin-bottom: 20px;
    background-color: white; 
 }

input { 
    background: darkgray;
    border: 1px solid darkgray;
    border-radius: 14px;
    height: 74px;
    width: 200px;
    text-align: center;
    padding-left: 20px;
    font-weight: 250;
    font-size: 30px;
    line-height: 47px;
    color: white;
    margin-top: 10px;
}

.input-min {
    margin-right: 62px;
}

button {
    background: yellowgreen;
    box-shadow: 0px 18px 40px rgba(174, 195, 100, 0.2);
    border-radius: 10px;
    width: 342px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}